@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  
  h1 {

  }
  hr {
    color: #e2e8f0;
  }
  h4 {
    color: #999999;
  }
 
  p {
    color: #333333; 
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #FFFFFF;
}

.mono{
  font-family: var(--font-ibm-plex-mono);
  letter-spacing: -0.05em;
  color: #6F6F6F;

}

.mono-sidebar{
  font-family: var(--font-ibm-plex-mono);
  letter-spacing: -0.05em;
  color: #6F6F6F;
  font-size: small; 

}
.mono-sidebar-active{
  font-family: var(--font-ibm-plex-mono);
  letter-spacing: -0.05em;
  color: #333333;
  font-size: small; 

}
